._main {
  bottom: 6vh;
  color: #777777;
  position: absolute;
  top: 10px;
  right: 350px;
  z-index: 99999;
}

._main ._box {
  position: fixed;
  background-color: white;
  border: 5px groove pink;
}
._main ._box button {
  background-color: aqua;
}